<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">

  <img src="{{ asset('images/miway.png') }}" alt="">
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav " style="width: auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{path('main.homepage')}}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown clearfix">
        <a class="nav-link dropdown-toggle float-right" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Nomination
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a href="{{path('nominate')}}" class="dropdown-item">Nominate</a>
          <a class="dropdown-item" href="{{path('main.nomination')}}">This month nominations</a>
          <a class="dropdown-item" href="#">Comments</a>
          <a class="dropdown-item" href="#">Best ranking</a>
        </div>
      </li>

      {% if is_granted('IS_AUTHENTICATED_FULLY') %}

          <li class="nav-item dropdown clearfix">
            <a class="nav-link dropdown-toggle float-right" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              User: {{app.user.username}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a href="{{path('logout')}}" class="dropdown-item">logout</a>
              <a class="dropdown-item" href="{{path('manage.dashboard')}}">Manager Profile</a>
              <a class="dropdown-item" href="#">Comments</a>
              <a class="dropdown-item" href="#">Best ranking</a>
            </div>
          </li>
      {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ path('create_user')}}">Add user</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('login')}}">login</a>
          </li>
      {% endif %}

    </ul>
  </div>
</nav>
